<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>iLearn</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
</head>

<body ng-app="clement">
     <!--Nav Bar Disponible sur toutes les pages -->

    <nav class="nav navbar-inverse ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">iLearn</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="/#/cv">Resume</a></li>
                   <!-- <li> <a href="/#/words">Words Game</a></li>-->
                    <li> <a href="/#/research">Job application process</a></li>
                    <li><a href="/#/toeic" >Toeic</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#/about">About</a></li>
                </ul>
            </div>

        </div>
    </nav>


<script type="text/ng-template" id="error.html">
   <div class="container">
       <div class="col-xs-6 col-md-offset-3">
            <div class="alert alert-danger" role="alert">Oops Something went wrong ! <strong>Go</strong> <a href="/#/">Home</a>, you are <strong>drunk</strong> !</div>
       </div>
   </div>
</script>

<script type="text/ng-template" id="cv.html">
    <div class="container" ng-controller="CvCtrl">

        <div class="jumbotron">
            <button type="button" class="btn btn-primary btn-lg  pull-right " data-toggle="modal" data-target="#myModal">
                Instructions
            </button>
            <h2>Re-Order the CV</h2>

            <div ng-repeat="d in columns" class=""  drag="d" dragStyle="columnDrag" drop="d" dropStyle="columnDrop" >
                <div ng-if="good(d, $index)" class="container" >
                   <div class=" alert alert-success ">
                    {{d.title}} <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#{{d.id}}">What?</button>
                    </div>


                    <div class="modal fade bs-example-modal-sm"  id="{{d.id}}"tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="{{d.id}}Label">Explanation</h4>
                                </div>
                                <div class="modal-body">
                                    {{d.caption}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div ng-if="!good(d, $index)" class="container ">
                    <div class=" alert alert-warning">
                        {{d.title}} <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#{{d.id}}">What?</button>
                    </div>


                    <div class="modal fade bs-example-modal-sm"  id="{{d.id}}"tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="{{d.id}}Label">Explanation</h4>
                                </div>
                                <div class="modal-body">
                                    {{d.caption}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>







        </div>
    </div>
    <!-- Modal for the rules -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Instructions</h4>
                </div>
                <div class="modal-body">
                    Re-order the main structure of the Resume by drag'n'drop the sentence.
                    When the sentence is in the correct position, the background will be colored in green.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>





</script>

<script type="text/ng-template" id="home.html">
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome on iLearn </h1>
            <h3>What exercise do you want to do ? </h3>
           <!--<p><a href="/#/words" class="btn  btn-primary" role="button">Vocabulary exercice</a></p>
            <br>-->
            <p><a href="/#/cv" class="btn btn-primary" role="button">Fill a resume</a></p>
            <br>
            <p><a href="/#/research" class="btn btn-primary" role="button" >Job application process</a></p>
            <br>
            <p><a href="/#/toeic" class="btn btn-primary" role="button" >Toeic</a></p>
        </div>
    </div>
</script>

<script type="text/ng-template" id="words.html" >

    <div class="container">
        <div class="jumbotron">
                <div ng-repeat="sentence in posts" class="alert alert-warning">
                    <div ng-repeat="c in sentence.content" drag="c" dragStyle="columnDrag" drop="c" dropStyle="columnDrop">
                        <div class="word  col-md-1" >
                            {{c.text}}
                        </div>
                    </div>
                </div>

        </div>
        <div class="jumbotron">
                <div ng-repeat="d in posts2" class="word"  drag="d" dragStyle="columnDrag" drop="d" dropStyle="columnDrop">
                        <div  class="col-md-1 col-md-offset-1    alert alert-success">
                            {{d.text}}
                        </div>

                    </div>
        </div>
            <br>
    </div>



</script>

 <script type="text/ng-template" id="research.html">
     <div class="container" ng-controller="ReCtrl">
         <div class="jumbotron">
             <button type="button" class="btn btn-primary btn-lg  pull-right " data-toggle="modal" data-target="#myModal">
                 Instructions
             </button>
             <h2>Order the step to apply for a job  </h2>

             <div ng-repeat="d in columns" class=""  drag="d" dragStyle="columnDrag" drop="d" dropStyle="columnDrop" >
                 <div ng-if="good(d, $index)" class="container" >
                     <div class=" alert alert-success ">
                         {{d.title}} <button type="button" class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#{{d.id}}">What?</button>
                     </div>


                     <div class="modal fade bs-example-modal-sm"  id="{{d.id}}"tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                         <div class="modal-dialog">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <h4 class="modal-title" id="{{d.id}}Label">Explanation</h4>
                                 </div>
                                 <div class="modal-body">
                                     {{d.caption}}
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                 </div>
                             </div>
                         </div>
                     </div>


                 </div>
                 <div ng-if="!good(d, $index)" class="container ">
                     <div class=" alert alert-warning">
                         {{d.title}} <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#{{d.id}}">What?</button>
                     </div>


                     <div class="modal fade bs-example-modal-sm"  id="{{d.id}}"tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                         <div class="modal-dialog">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <h4 class="modal-title" id="{{d.id}}Label">Explanation</h4>
                                 </div>
                                 <div class="modal-body">
                                     {{d.caption}}
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

         </div>
     </div>
     <!-- Modal for the rules -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="myModalLabel">Instructions</h4>
                 </div>
                 <div class="modal-body">
                     Find the order of the step to apply for a job  by drag'n'drop the sentence.
                     When the sentence is in the correct position, the background will be colored in green.
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                 </div>
             </div>
         </div>
     </div>




 </script>
<script type="text/ng-template" id="toeic.html">

<div>
    <div>
        {{posts.exo.phrase}}

    </div>
<form>
    <div ng-repeat="solution in posts.solutions">
        <input type="radio"  name="radio" ng-model="sol" ng-value="solution.valid">
        {{solution.phrase}}test
        <br>
    </div>
    <tt>sol = {{sol}}</tt>
    <input type="submit" ng-click="validate()" value="Validate">
</form>

</div>

</script>





<script type="text/ng-template" id="clement.html">
    <div ng-controller="MainCtrl">
        <div class="cadreCentre">
            <div class="title">Jeu de mots Clément</div>
            <div class="pull-right" ng-if="end()" >
                <button class="btn btn-primary" ng-click="initialisation()">Rejouer</button>
            </div>
        </div>
        <div class="row">
            <div class="cadre">
                <div ng-repeat="c in columns" class="column" drag="c" dragStyle="columnDrag" drop="c" dropStyle="columnDrop">
                    {{c.title}}
                </div>
            </div>
        </div>
        <div class="cadre">
            <div ng-repeat="d in columns2" class="column2" drag="d" dragStyle="columnDrag" drop="d" dropStyle="columnDrop">
                <div ng-if="good(d, $index)" class="columnok">
                    {{d.title}}
                </div>
                <div ng-if="!good(d, $index)">
                    {{d.title}}
                </div>
            </div>
            <div class="row">
                <div ng-if="end()" class="result">
                    Gagné
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="manage.html">
    <h2>Liste des phrases</h2>
    <div ng-controller="manageCtrl">

        <div ng-repeat="phrase in posts">
            <div class="row">
                <button class="btn btn-primary btn-sm glyphicon glyphicon-trash" data-ng-click="deletePhrase($index)"></button>
                <div ng-repeat="c in phrase" class="phrase">
                    {{c.title}}&nbsp;
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="row">

            <h2>Ajouter une nouvelle phrase</h2>

            <div>
            <form name="form" role="form">
                <div ng-repeat="d in newPhrase" class="phrase">
                    <input class="form-control" ng-model="d.title" type="text">
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="addPhrase()">Enregistrer</button>
                </div>
            </form>
            </div>
        </div>
    </div>

</script>
     <div ng-view>
        Loading...
    </div>

<footer   class="footer" >
    <div   class="container">
        Designed by <a>Anthony Fioravanti</a> and <a>Florian Sieradzki</a>.
    </div>
</footer>


     <script src="vendors/jquery-1.11.0.min.js"></script>
     <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
     <script src="vendors/angular.js"></script>
     <script src="vendors/angular-route.js"></script>

     <!--imports locaux du projet-->

     <script src="js/app.js"></script>

     <script src="js/directives/directive.js"></script>
     <script src="js/controllers/homeController.js" ></script>
     <script src="js/controllers/mainCtrl.js"></script>
     <script src="js/controllers/wordsController.js"></script>
     <script src="js/controllers/CvCtrl.js"></script>
     <script src="js/controllers/toeicController.js"></script>


     <script src="js/controllers/ReCtrl.js"></script>



</body>
</html>
