<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>iLearn</title>
    <script>document.write('<base href="' + document.location + '" />');</script>

    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>

<body ng-app="clement">
     <!--Nav Bar Disponible sur toutes les pages -->

    <nav class="nav navbar-inverse ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">iLearn</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="/#/cv">Resume</a></li>
                    <li> <a href="/#/words">Words Game</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#/about">About</a></li>
                </ul>
            </div>

        </div>
    </nav>


<script type="text/ng-template" id="error.html">
   <div class="container">
       <div class="col-xs-6 col-md-offset-3">
            <div class="alert alert-danger" role="alert">Oops Something went wrong ! <strong>Go</strong> <a href="/#">Home</a>, you are <strong>drunk</strong> !</div>
       </div>
   </div>
</script>

<script type="text/ng-template" id="cv.html">
    <div class="container" ng-controller="CvCtrl">
        <div class="jumbotron" >
            <h2>Fill the blank in the Resume</h2> <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Rules
            </button>
            <div class="container">

            </div>
        </div>
        <div class="jumbotron" >
            <h2>Dragable word : </h2>
            <div ng-repeat="d in columns2" class="column2" drag="d" dragStyle="columnDrag" drop="d" dropStyle="columnDrop">
                <div ng-if="good(d, $index)" class="columnok">
                    {{d.title}}
                </div>
                <div ng-if="!good(d, $index)">
                    {{d.title}}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for the rules -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rules</h4>
                </div>
                <div class="modal-body">
                    Here the rules !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


</script>

<script type="text/ng-template" id="home.html">
    <div class="container">
        <div class="jumbotron" ng-controller="homeController">
            <h1>Welcome on iLearn </h1>
            <h3>Which game do you want to play?</h3>
            <p><button class="btn btn-primary" go-click='/words' >Vocabulary exercice</button></p>
            <br>
            <p><button class="btn btn-primary" go-click='/cv'>Fill a resume</button></p>
        </div>
    </div>
</script>

<script type="text/ng-template" id="words.html" >
    <h1>Bonjour et bienvenue sur cet <strong>exercice</strong> de style de la mort</h1>
</script>


<script type="text/ng-template" id="clement.html">
    <div ng-controller="MainCtrl">
        <div class="cadreCentre">
            <div class="title">Jeu de mots Clément</div>
            <div class="pull-right" ng-if="end()" >
                <button class="btn btn-primary" ng-click="initialisation()">Rejouer</button>
            </div>
        </div>
        <div class="row">
            <div class="cadre">
                <div ng-repeat="c in columns" class="column" drag="c" dragStyle="columnDrag" drop="c" dropStyle="columnDrop">
                    {{c.title}}
                </div>
            </div>
        </div>
        <div class="cadre">
            <div ng-repeat="d in columns2" class="column2" drag="d" dragStyle="columnDrag" drop="d" dropStyle="columnDrop">
                <div ng-if="good(d, $index)" class="columnok">
                    {{d.title}}
                </div>
                <div ng-if="!good(d, $index)">
                    {{d.title}}
                </div>
            </div>
            <div class="row">
                <div ng-if="end()" class="result">
                    Gagné
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="manage.html">
    <h2>Liste des phrases</h2>
    <div ng-controller="manageCtrl">

        <div ng-repeat="phrase in posts">
            <div class="row">
                <button class="btn btn-primary btn-sm glyphicon glyphicon-trash" data-ng-click="deletePhrase($index)"></button>
                <div ng-repeat="c in phrase" class="phrase">
                    {{c.title}}&nbsp;
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="row">

            <h2>Ajouter une nouvelle phrase</h2>

            <div>
            <form name="form" role="form">
                <div ng-repeat="d in newPhrase" class="phrase">
                    <input class="form-control" ng-model="d.title" type="text">
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="addPhrase()">Enregistrer</button>
                </div>
            </form>
            </div>
        </div>
    </div>

</script>

    <div ng-view>
    Loading...
</div>

<footer   class="footer" >
    <div   class="container">
        Designed by <a>Anthony Fioravanti</a> and <a>Florian Sieradzki</a>.
    </div>
</footer>



<script src="vendors/jquery-1.11.0.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
<!--imports locaux du projet-->
<script src="js/app.js"></script>
<script src="js/directives/directive.js"></script>
<script src="js/controllers/mainCtrl.js"></script>


</body>
</html>
